<template>
    <div class="container my-5">
        <h2>Gimnacios</h2>
        <div class="row">
            <div class="col-md-4 mt-4" v-for="gimnasio in this.gimnasios" v-bind:key="gimnasio.id">
                <div class="card">
                    <img :src="`storage/${gimnasio.imagen_principal}`" alt="card del restaurante" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">{{ gimnasio.nombre_establecimiento}}</h3>
                        <p class="card-text">{{ gimnasio.direccion }}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{ gimnasio.hora_apertura }} - {{ gimnasio.hora_cierre }}
                        </p>
                        <router-link :to="{ name:'establecimiento', params:{id: gimnsasio.id} }">
                            <a class="btn btn-primary d-block">ver lugar</a>
                        </router-link>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</template>

<script>

export default {
    
    mounted() {
        axios.get('/api/categorias/gimnasio')
        .then( respuesta => {
            this.$store.commit("AGREGAR_GIMNASIOS",respuesta.data);
        })
    },
    computed:{
        gimnasios(){
            return this.$store.state.gimnasios;
        }
    }
    
}
</script>