<template>
    <div class="container my-5">
        <h2>Bares</h2>
        <div class="row">
            <div class="col-md-4 mt-4" v-for="bar in this.bares" v-bind:key="bar.id">
                <div class="card">
                    <img :src="`storage/${bar.imagen_principal}`" alt="card del restaurante" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">{{ bar.nombre_establecimiento}}</h3>
                        <p class="card-text">{{ bar.direccion }}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{ bar.hora_apertura }} - {{ bar.hora_cierre }}
                        </p>
                        <router-link :to="{ name:'establecimiento', params:{id: bar.id} }">
                            <a class="btn btn-primary d-block">ver lugar</a>
                        </router-link>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    mounted() {
        axios.get('/api/categorias/bar')
        .then( respuesta => {
            this.$store.commit("AGREGAR_BARES",respuesta.data);
        })
    },
    computed:{
        bares(){
            return this.$store.state.bares
        }

    }
    
}
</script>