<template>
    <div class="container my-5">
        <h2>Hoteles</h2>
        <div class="row">
            <div class="col-md-4 mt-4" v-for="hotel in this.hoteles" v-bind:key="hotel.id">
                <div class="card">
                    <img :src="`storage/${hotel.imagen_principal}`" alt="card del restaurante" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">{{ hotel.nombre_establecimiento}}</h3>
                        <p class="card-text">{{ hotel.direccion }}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{ hotel.hora_apertura }} - {{ hotel.hora_cierre }}
                        </p>
                        <router-link :to="{ name:'establecimiento', params:{id: hotel.id} }">
                            <a class="btn btn-primary d-block">ver lugar</a>
                        </router-link>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    mounted() {
        axios.get('/api/categorias/hoteles')
        .then( respuesta => {
            this.$store.commit("AGREGAR_HOTELES",respuesta.data);
        })
    },
    computed:{
        hoteles(){
            return this.$store.state.hoteles;
        }
    }
    
}
</script>