<template>
    <div class="container my-5">
        <h2>Clinicas y Hospitales</h2>
        <div class="row">
            <div class="col-md-4 mt-4" v-for="hospital in this.hospitales" v-bind:key="hospital.id">
                <div class="card">
                    <img :src="`storage/${hospital.imagen_principal}`" alt="card del restaurante" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title text-primary font-weight-bold">{{ hospital.nombre_establecimiento}}</h3>
                        <p class="card-text">{{ hospital.direccion }}</p>
                        <p class="card-text">
                            <span class="font-weight-bold">Horario:</span>
                            {{ hospital.hora_apertura }} - {{ hospital.hora_cierre }}
                        </p>
                        <router-link :to="{ name:'establecimiento', params:{id: hospital.id} }">
                            <a class="btn btn-primary d-block">ver lugar</a>
                        </router-link>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    mounted() {
        axios.get('/api/categorias/hospitales')
        .then( respuesta => {
            this.$store.commit("AGREGAR_HOSPITALES",respuesta.data);
        })
    },
    computed:{
        hospitales(){
            return this.$store.state.hospitales;
        }
    }
    
}
</script>