<template>
    <div>
        <listado-categorias></listado-categorias>
        <mapa-establecimientos></mapa-establecimientos>
        <categoria-cafe-component></categoria-cafe-component>
        <categoria-restaurante-component></categoria-restaurante-component>
        <categoria-hoteles-component></categoria-hoteles-component>
        <categoria-bar-component></categoria-bar-component>
        <categoria-hospitales-component></categoria-hospitales-component>
        <categoria-gimnasio-component></categoria-gimnasio-component>
    </div>
</template>

<script>
import CategoriaCafeComponent from './CategoriaCafeComponent';
import CategoriaRestauranteComponent from './CategoriaRestauranteComponent';
import CategoriaHotelesComponent from './CategoriaHotelesComponent';
import CategoriaBarComponent from './CategoriaBarComponent';
import CategoriaHospitalesComponent from './CategoriaHospitalesComponent';
import CategoriaGimnasioComponent from './CategoriaGimnasioComponent';
import MapaEstablecimientos from './MapaEstablecimientos';
import ListadoCategorias from './ListadoCategorias';

    export default {
        components: {
        CategoriaCafeComponent,
        CategoriaRestauranteComponent,
        CategoriaHotelesComponent,
        CategoriaBarComponent,
        CategoriaHospitalesComponent,
        CategoriaGimnasioComponent,
        MapaEstablecimientos,
        ListadoCategorias
    },
        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>