<template>
<div class="mapa">
    <l-map :zoom="zoom" :center="center" :options="mapOptions">
        <l-tile-layer :url="url" :attribution="attribution"/>
        <l-marker v-for="establecimiento in establecimientos" v-bind:key="establecimiento.id" 
        :lat-lng="obtenerCoordenadas(establecimiento)" :icon="iconoEstablecimiento(establecimiento)"
        @click="redireccionar(establecimiento.id)">
            <l-tooltip>
                <div class="card text-center" style="width: 18rem;">
                    <img :src="`/storage/${establecimiento.imagen_principal}`" alt=""  class="card-img-top">
                    <div class="card-body">
                         <h5 class="card-title">{{ establecimiento.nombre_establecimiento }} - {{ establecimiento.categorias.nombre_categoria }}</h5>
                    </div>
                </div>

            </l-tooltip>
        </l-marker>
    </l-map>
</div>
</template>

<script>
import { latLng } from 'leaflet';
import { LMap, LMarker, LTileLayer, LTooltip, LIcon } from 'vue2-leaflet';


export default {
    components:{
        LMap,
        LMarker,
        LTileLayer,
        LTooltip,
        LIcon,
        
    },
    data(){
        return {
            zoom:13,
            center: latLng(13.7003861,-89.2245154),
            url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            attribution:'&copy; <a href="http://osm.org/copyright>OpenStreetMap</a> contributors"',
            currentZoom:11.5,
            currentCenter:latLng(13.7483454,-89.4907359),
            showParagraph: false,
            mapOptions: {
                zoomSnap:0.5
            },
            showMap:true

        };
    },
    created() {
        axios.get('/api/establecimientos')
            .then(respuesta => {
                this.$store.commit('AGREGAR_ESTABLECIMIENTOS', respuesta.data);
            });
    },
    computed: {
        establecimientos(){
            return this.$store.getters.obtenerEstablecimientos;
        }
    },
    methods: {
        obtenerCoordenadas(establecimiento){
            return {
                lat: establecimiento.latitud,
                lng: establecimiento.longitud
            }
        },
        iconoEstablecimiento(establecimiento){
            const { slug } = establecimiento.categorias;
            return L.icon({
                iconUrl: `images/iconos/${slug}.png`,
                iconSize: [40,50]
            });
        },
        redireccionar(id){
            this.$router.push({ name:'establecimiento', params:{id} })
        }
    },
   watch:{
            "$store.state.categoria": function(){
                axios.get('/api/'+ this.$store.getters.obtenerCategoria)
                .then(respuesta => {
                    this.$store.commit('AGREGAR_ESTABLECIMIENTOS', respuesta.data);
                });
            }
        }
    
}
</script>

<style scoped>
.mapa {
    height: 400px;
    width: 100%;

}

</style>